<div class="container">
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>
    <p class="text-center">&copy; 2020 Garrett Tvedt</p>

</div>