h1{
    font-size: 250%;
    position: relative;
    bottom: -0.25em;
}

.shell{
    margin: auto;
    background: rgb(241, 241, 241);
    border-radius: 12px;
}

.content{
    padding: 20px;
}

.project{
    padding: 5%s;
    display:flex;
    flex-direction: column;
}

.mat-card-subtitle{
    padding-top: 10px;
}

.mat-card-content{
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
  }

.mat-card-actions{
    left: 2%;
    bottom: 4%;
    position: relative;
}

.mat-card-image{
    object-fit: scale-down;
    max-height: 250px;
}
