h1{
    font-size: 300%;
    left: 2%;
    position: relative;
}

.content{
    padding: 16px;
}

.project{
    padding: 5%s;
    display:flex;
    flex-direction: column;
}

.mat-card-subtitle{
    padding-top: 10px;
}

.mat-card-content{
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
  }

.mat-card-actions{
    left: 2%;
    bottom: 4%;
    position: relative;
}