h1{
    font-size: 250%;
    top: 25%;
    left: 4%;
    position: relative;

}

h3{
    left: 4%;
    padding-right: 7%;
    position: relative;
}

.contact-form{
    left: 4%;
    position: relative;
}

.message{
    width: 90%;
}