<div class="contact" fxLayout = "column">
  <h1>Contact</h1>
  <h3>If you would like to get in touch, please fill out the following form</h3>
  <br>
  <div fxLayout = "row">
  <mat-card class="contact-form" fxFlex="40%" fxFlex.s = "100%" fxFlex.xs="100%">
    <form> 
      <mat-form-field class="name">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="email@domain.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="message">
        <mat-label>Message</mat-label>
        <textarea matInput [formControl]="formControl" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="25"></textarea>
        <mat-error *ngIf="formControl.hasError('required')">
          Please enter a message
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-button type="submit"> Send Message </button>
    </form>
  </mat-card>
  <div fxFlex.xs = "10%"></div>
  </div>
</div>