<div class="contact" fxLayout = "column">
  <h1>Contact</h1>
  <h3>If you would like to get in touch, please fill and submit the following form</h3>
  <br>
  <div fxLayout = "row">
  <mat-card class="contact-form" fxFlex="40%" fxFlex.s = "100%" fxFlex.xs="100%">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"> 
      <mat-form-field class="nameField">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName = "Name">
      </mat-form-field>
      <br>
      <mat-form-field class="emailField">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName = "Email" placeholder="email@domain.com">
        
        <mat-error *ngIf="contactForm.hasError('email', 'Email') && !contactForm.hasError('required', 'Email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="contactForm.hasError('required', 'Email')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="messageField">
        <mat-label>Message</mat-label>
        <textarea matInput type="text" formControlName = "Message" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="25"></textarea>
        <mat-error *ngIf="contactForm.hasError('required', 'Message')">
          Please enter a message
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-button id="submitButton" type="submit" [disabled]="!contactForm.valid"> {{buttonText}} </button>
    </form>
  </mat-card>
  <div fxFlex.xs = "10%"></div>
  </div>
</div>