h1{
    left: 5%;
    position: relative;
}

.content{
    padding: 16px;
}

.mat-chip-list{
    width: 300px;
}
/*
    TODO
    Maybe Change font color to a lighter gray for content section
    If it looks like skills seems too important compared to portfolio, turn the header a shade darker
*/