<!--
    TODO:
    <p> Click on any of the chips to see projects relevant to each skillset </p>
 -->

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="6%"></div>
    <div class="chips" fxFlex="25%" fxFlex.xs="100%">
        <h2>Programming Languages</h2>
        <mat-chip-list aria-label="programming-languages">
            <mat-chip> JavaScript </mat-chip>
            <mat-chip> TypeScript </mat-chip>
            <mat-chip> SCSS </mat-chip>
            <mat-chip> C++ </mat-chip>
            <mat-chip> C </mat-chip>
            <mat-chip> C# </mat-chip>
            <mat-chip> Java </mat-chip>
            <mat-chip> Python </mat-chip>
            <mat-chip> GoLang </mat-chip>
            <mat-chip> Haskell </mat-chip>
            <mat-chip> Solidity </mat-chip>
        </mat-chip-list>
    </div>
    <div fxFlex="6%"></div>
    <div class="chips" fxFlex="25%" fxFlex.xs="100%">
        <h2>Technologies</h2>
        <mat-chip-list aria-label="Technologies">
            <mat-chip> NodeJs </mat-chip>
            <mat-chip> Webpack </mat-chip>
            <mat-chip> Yarn </mat-chip>
            <mat-chip> Puppeteer </mat-chip>
            <mat-chip> Docker </mat-chip>
            <mat-chip> React </mat-chip>
            <mat-chip> NextJS </mat-chip>
            <mat-chip> Angular </mat-chip>
            <mat-chip> mySQL </mat-chip>
            <mat-chip> DynamoDB </mat-chip>
            <mat-chip> Mocha </mat-chip>
            <mat-chip> Chai </mat-chip>
            <mat-chip> Pandas </mat-chip>
            <mat-chip> ethers.js </mat-chip>
            <mat-chip> web3.js </mat-chip>
            <mat-chip> Hardhat </mat-chip>
            <mat-chip> Truffle </mat-chip>
        </mat-chip-list>
    </div>
    <div fxFlex="6%"></div>
    <div class="chips" fxFlex="25%" fxFlex.xs="100%">
        <h2>Tools</h2>
        <mat-chip-list aria-label="Tools">
            <mat-chip> Git </mat-chip>
            <mat-chip> Figma </mat-chip>
            <mat-chip> Vercel </mat-chip>
            <mat-chip> Asana </mat-chip>
            <mat-chip> Microsoft Azure </mat-chip>
            <mat-chip> AWS Amplify </mat-chip>
            <mat-chip> AWS S3 </mat-chip>
            <mat-chip> AWS Simple Mail Service </mat-chip>
            <mat-chip> AWS Lambda </mat-chip>
            <mat-chip> Excel </mat-chip>
            <mat-chip> LaTeX </mat-chip>
            <mat-chip> VSCode </mat-chip>
        </mat-chip-list>
    </div>
    <div fxFlex="6%"></div>
</div>