<mat-chip-list aria-label="Skill Set">
    <mat-chip> C++ </mat-chip>
    <mat-chip> C </mat-chip>
    <mat-chip> Operating Systems </mat-chip>


    <mat-chip> C# </mat-chip>
    <mat-chip> Universal Windows Platform </mat-chip>
    <mat-chip> Java </mat-chip>

    <mat-chip> Python </mat-chip>
    <mat-chip> Machine Learning </mat-chip>

    <mat-chip> Haskell </mat-chip>

    <mat-chip> JavaScript </mat-chip>
    <mat-chip> TypeScript </mat-chip>
    <mat-chip> MySQL </mat-chip>

    <mat-chip> Go </mat-chip>
    <mat-chip> Blockchain </mat-chip>


</mat-chip-list>