<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar></mat-toolbar>
    <mat-action-list>
      <button mat-list-item (click)="scroll(home)">Home</button>
      <button mat-list-item (click)="scroll(skills)">Skills</button>
      <button mat-list-item (click)="scroll(projects)">Projects</button>
      <button mat-list-item (click)="scroll(resume)">Resume</button>
      <button mat-list-item (click)="scroll(contact)">Contact</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portfolio</span>
    </mat-toolbar>
    <!-- main content --> 
    <div #home> <app-home></app-home> </div>
    <div #skills class="skills"> <app-skills></app-skills> </div>
    <div #projects> <app-projects></app-projects> </div>
    <div #resume> <app-resume></app-resume> </div>
    <div #contact> <app-contact></app-contact> </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>