.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  position: absolute;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
}

.title{
  color: rgb(204, 204, 204);
}

.skills{
  padding: 5% 5%;
}

.projects{
  padding: 0% 5%;
}

.contact{
  padding: 10% 5%;
}

.footer{
  padding-left: 3%;
  box-sizing: border-box;
}