.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  position: absolute;
  background-color:transparent;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 50%;
}

.skills{
  padding: 5% 5%;
}