<div class="bg">
    <mat-card class="title-card">
        <mat-card-header>
            <mat-card-title> 
                Garrett Tvedt
            </mat-card-title>
            <mat-card-subtitle>
                Full Stack Developer
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions fxLayoutAlign="space-evenly">
            <button mat-button> 
                <mat-icon>book</mat-icon>
                Portfolio </button>
            <a mat-button download="Garrett-Tvedt-Resume.pdf" target="_blank" href="/../../assets/resume.pdf"> 
                <mat-icon>get_app</mat-icon>
                Resume 
            </a>
            <button mat-button> 
                <mat-icon>contact_page</mat-icon>
                Contact 
            </button>
        </mat-card-actions>
    </mat-card>        
</div>