<div class="bg" fxLayout="row">
    <div fxFlex="10%"></div>
    <div fxFlex="30%" fxFlex.xs="80%">
    <mat-card class="title-card" >
        <mat-card-header>
            <mat-card-title> 
                Garrett Tvedt
            </mat-card-title>
            <mat-card-subtitle>
                Full Stack Developer
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button download="Garrett-Tvedt-Resume.pdf" target="_blank" href="/../../assets/resume.pdf"> 
                <mat-icon>get_app</mat-icon>
                Resume 
            </a>
        </mat-card-actions>
    </mat-card>        
</div>
</div>